<!DOCTYPE html>

{% load static %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>About Us</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/about.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
     <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">

        </div>
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <div class="navbar-header">
        
        
                <ul class="nav navbar-nav navbar-right" id="navbar">
                    <li>
                        <a style="margin-top:5px; letter-spacing: 0.05em;" class="navbar-brand topnav" href="{%url 'insideoutchi:home'%}">HOME</a>
                    </li>
                    
                    <li>
                        <a style="margin-top:5px; margin-left:10px; letter-spacing: 0.05em;" href="{%url 'insideoutchi:about'%}" >ABOUT</a>
                    </li>
                    <li>
                        <a style="margin-top:5px; letter-spacing: 0.05em;" href="{%url 'insideoutchi:thinktank'%}" >THINK TANKS</a>
                    </li>
                    <li>
                        <a style="margin-top:5px; letter-spacing: 0.05em;" href="{%url 'insideoutchi:contact'%}">CONTACT</a>
                    </li>

                      <li>
                        <a style="position absolute; top:5px; right:-250px; margin-top:5px; font-size:40px; color:black; letter-spacing: 0.10em;">INSIDE OUT CHICAGO</a>
                    </li>

               
                    
                </ul>
                <br>
                <br>
                <br>

              

            </div>
            </div>

    </nav>


    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 id="aboutHeader" class="section-heading">About Us</h2>

    
                    
                </div>
               
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    
    <!-- /.content-section-b -->

   
    <!-- /.content-section-a -->

	<a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="aboutBoxpar" id="aboutBox">
                
                    <img style="margin-top:20px; margin-left:100px;" alt="Loading.." src="{% static 'img/group2.jpg' %}" width="800" height="450">
                    <br> <br>
                    <p> Inside-Out is centered on reciprocity through the exchange and mobilization of knowledge. The focus is not on an unidirectional transfer of resources to community from the university but on helping students—inside and out—to reach their full capacity as human beings. “The point is that this is a real, unique and valuable experience for all who are involved,” says Kimberly Moe, a professor in the philosophy department who has taught the course over consecutive years. “DePaul students and men inside Stateville have a chance to broaden their horizons. It’s egalitarian: everybody has a voice and contributes to the lesson.”</p>
                    <br> 

    <p>"For students (inside and out) to go through this experience, it’s quite profound."</p>

                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; AMDevG 2015. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
